.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin: 60px 0;
}

.diaryItem {
  flex-basis: calc(25% - 6px);
  margin: 3px;
  outline: 1px solid black;
}

.diaryItem::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.boxManage {
  width: 50%;
  outline: 1px solid black;
  margin: 2em auto;
}

.boxManage::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.itemManageClose {
  background-color: none;
  font-size: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 7vw;
  right: 7vw;
}

.diaryDesc {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
