.wrapper {
  display: inline-block;
  text-align: center;
}

.accentColor {
  color: #2cc39d;
}

.icon {
  width: 15%;
  height: auto;
}

.projectName {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
}
