.wrapper {
  display: inline-block;
  text-align: center;
}

.accentColor {
  color: var(--secondary);
}

.icon {
  width: 15%;
  height: auto;
}

.projectName {
  font-size: 2.7rem;
  font-weight: bold;
}
