// Navigation

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 79%;
  z-index: 15;

  background-color: rgba(#f44336, 1);

  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navActive {
  @extend .nav;
  transform: translateX(0);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 60%;
  margin: 0 auto;
}

.item:hover,
.item:active {
  border-bottom: rgba(black, 0.5) 1px solid;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: inherit;
  color: black;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 2.4rem;
}
