.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.diaryLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  &__content {
    font-size: 1.8rem;
  }
}

.guideline {
  height: 1px;
  opacity: 0.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
