.wrapper {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.topBar {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  outline: none;
  padding: 5px 10px;
}

.diaryLabel {
  font-size: 1.8rem;
  padding: 0 20px;
}

.guideline {
  height: 1px;
  opacity: 0.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
