.wrapper {
	width: 100%;
	position: relative;
	min-height: 100vh;
}

.diaryLabel {
	font-size: 1.8rem;
	padding: 0 20px;
}

.guideline {
	height: 1px;
	opacity: 0.5;
}

.sliderWrapper {
	background-color: white;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
		0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	position: fixed;
	padding: 0 50px;
	left: 0%;
	right: 0%;
	bottom: 0;
}
