.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.wrapperLogin::after {
  content: "";
  display: block;
  min-width: 110%;
  min-height: 110vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--primary);

  border-radius: 5vw;
  animation: appearFromLeft 2s 0.5s ease both;
}

.form {
  margin-bottom: 1.5rem;
}

.wrapperLogin {
  padding-left: 20px;
  z-index: 1;
  font-size: 20px;
  position: relative;
}

@media (min-width: 600px) {
  .wrapperLogin::after {
    min-width: 80%;
    min-height: 80vw;
  }
}

@media (min-width: 700px) {
  .wrapperLogin::after {
    min-width: 65%;
    min-height: 65vw;
  }
}

@media (min-width: 960px) {
  .wrapperLogin::after {
    margin-left: -1vw;
    border-radius: 50px;
    min-width: 700px;
    min-height: 700px;
    animation: none;
    top: -120px;
  }
  .wrapperLogin {
    margin-left: 7.5vw;
  }
  .wrapperLogin::before {
    content: "";
    position: absolute;
    left: 550px;
    top: -120px;
    width: 80px;
    height: 700px;
    background-color: orange;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-40%) rotate(45deg);
  }
  100% {
    transform: translateX(-35%) rotate(45deg);
  }
}
